In [1]:
import pandas as pd

In [5]:
demographic_df = pd.read_csv('airbnb-recruiting-new-user-bookings/age_gender_bkts.csv')
demographic_df.head()

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0

In [7]:
countries = demographic_df['country_destination'].unique()
print(countries)

['AU' 'CA' 'DE' 'ES' 'FR' 'GB' 'IT' 'NL' 'PT' 'US']

In [55]:
# country = 'AU'
demographic_dict = {'country':[]}

for row in demographic_df.index:
    key = demographic_df['age_bucket'][row] + '_' + demographic_df['gender'][row]
    demographic_dict[key] = []
demographic_dict

{'country': [],
 '100+_male': [],
 '95-99_male': [],
 '90-94_male': [],
 '85-89_male': [],
 '80-84_male': [],
 '75-79_male': [],
 '70-74_male': [],
 '65-69_male': [],
 '60-64_male': [],
 '55-59_male': [],
 '50-54_male': [],
 '45-49_male': [],
 '40-44_male': [],
 '35-39_male': [],
 '30-34_male': [],
 '25-29_male': [],
 '20-24_male': [],
 '15-19_male': [],
 '10-14_male': [],
 '5-9_male': [],
 '0-4_male': [],
 '100+_female': [],
 '95-99_female': [],
 '90-94_female': [],
 '85-89_female': [],
 '80-84_female': [],
 '75-79_female': [],
 '70-74_female': [],
 '65-69_female': [],
 '60-64_female': [],
 '55-59_female': [],
 '50-54_female': [],
 '45-49_female': [],
 '40-44_female': [],
 '35-39_female': [],
 '30-34_female': [],
 '25-29_female': [],
 '20-24_female': [],
 '15-19_female': [],
 '10-14_female': [],
 '5-9_female': [],
 '0-4_female': []}

In [59]:
for country in countries:
    country_df = demographic_df.loc[demographic_df['country_destination'] == country]
    demographic_dict['country'].append(country)
    for row in country_df.index:
        demographic_dict[country_df['age_bucket'][row] + '_' + country_df['gender'][row]].append(
            country_df['population_in_thousands'][row])

In [62]:
pivotted_data = pd.DataFrame(demographic_dict)
# pivotted_data.info()

In [65]:
pivotted_data.to_csv('airbnb-recruiting-new-user-bookings/clean_age_gender_bkts.csv')