### Final Project
 [Airbnb Data](https://www.kaggle.com/competitions/airbnb-recruiting-new-user-bookings/data)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
train_users = pd.read_csv('airbnb-recruiting-new-user-bookings/train_users_2.csv')
train_users.info()
train_users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       213451 non-null  object
 1   date_account_created     213451 non-null  object
 2   timestamp_first_active   213451 non-null  int64
 3   date_first_booking       88908 non-null   object
 4   gender                   213451 non-null  object
 5   age                      125461 non-null  float64
 6   signup_method            213451 non-null  object
 7   signup_flow              213451 non-null  int64
 8   language                 213451 non-null  object
 9   affiliate_channel        213451 non-null  object
 10  affiliate_provider       213451 non-null  object
 11  first_affiliate_tracked  207386 non-null  object
 12  signup_app               213451 non-null  object
 13  first_device_type        213451 non-null  object
 14  first_browser            213451 non-null  object
 15  country_destination      213451 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [20]:
demo = pd.read_csv('airbnb-recruiting-new-user-bookings/age_gender_bkts.csv')
demo.info()
demo.head()
# demo['year'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age_bucket               420 non-null    object
 1   country_destination      420 non-null    object
 2   gender                   420 non-null    object
 3   population_in_thousands  420 non-null    float64
 4   year                     420 non-null    float64
dtypes: float64(2), object(3)
memory usage: 16.5+ KB

array([2015.])

In [6]:
countries = pd.read_csv('airbnb-recruiting-new-user-bookings/countries.csv')
countries.info()
countries.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country_destination            10 non-null     object
 1   lat_destination                10 non-null     float64
 2   lng_destination                10 non-null     float64
 3   distance_km                    10 non-null     float64
 4   destination_km2                10 non-null     float64
 5   destination_language           10 non-null     object
 6   language_levenshtein_distance  10 non-null     float64
dtypes: float64(5), object(2)
memory usage: 688.0+ bytes

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06

In [7]:
sessions = pd.read_csv('airbnb-recruiting-new-user-bookings/sessions.csv')
sessions.info()
sessions.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10567737 entries, 0 to 10567736
Data columns (total 6 columns):
 #   Column         Dtype
---  ------         -----
 0   user_id        object
 1   action         object
 2   action_type    object
 3   action_detail  object
 4   device_type    object
 5   secs_elapsed   float64
dtypes: float64(1), object(5)
memory usage: 483.8+ MB

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [8]:
test_users = pd.read_csv('airbnb-recruiting-new-user-bookings/test_users.csv')
test_users.info()
test_users.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62096 entries, 0 to 62095
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       62096 non-null  object
 1   date_account_created     62096 non-null  object
 2   timestamp_first_active   62096 non-null  int64
 3   date_first_booking       0 non-null      float64
 4   gender                   62096 non-null  object
 5   age                      33220 non-null  float64
 6   signup_method            62096 non-null  object
 7   signup_flow              62096 non-null  int64
 8   language                 62096 non-null  object
 9   affiliate_channel        62096 non-null  object
 10  affiliate_provider       62096 non-null  object
 11  first_affiliate_tracked  62076 non-null  object
 12  signup_app               62096 non-null  object
 13  first_device_type        62096 non-null  object
 14  first_browser            62096 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 7.1+ MB

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,2014-07-01,20140701000148,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,2014-07-01,20140701000215,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,2014-07-01,20140701000305,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [9]:
test_ = pd.merge(left= train_users, right=sessions, left_on='id', right_on='user_id')

In [10]:
test_.info(verbose=True, show_counts=True)
# test_.head(15)
# test_.tail(20)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5537957 entries, 0 to 5537956
Data columns (total 22 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       5537957 non-null  object
 1   date_account_created     5537957 non-null  object
 2   timestamp_first_active   5537957 non-null  int64
 3   date_first_booking       2480247 non-null  object
 4   gender                   5537957 non-null  object
 5   age                      3422520 non-null  float64
 6   signup_method            5537957 non-null  object
 7   signup_flow              5537957 non-null  int64
 8   language                 5537957 non-null  object
 9   affiliate_channel        5537957 non-null  object
 10  affiliate_provider       5537957 non-null  object
 11  first_affiliate_tracked  5536616 non-null  object
 12  signup_app               5537957 non-null  object
 13  first_device_type        5537957 non-null  object
 14  first_browser            5537957 non-null  object
 15  country_destination      5537957 non-null  object
 16  user_id                  5537957 non-null  object
 17  action                   5486425 non-null  object
 18  action_type              4918097 non-null  object
 19  action_detail            4918097 non-null  object
 20  device_type              5537957 non-null  object
 21  secs_elapsed             5464142 non-null  float64
dtypes: float64(2), int64(2), object(18)
memory usage: 971.8+ MB

In [11]:
with_drop = test_.dropna()

In [12]:
with_drop.info(verbose=True, show_counts=True)
with_drop.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1782517 entries, 1 to 5537474
Data columns (total 22 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1782517 non-null  object
 1   date_account_created     1782517 non-null  object
 2   timestamp_first_active   1782517 non-null  int64
 3   date_first_booking       1782517 non-null  object
 4   gender                   1782517 non-null  object
 5   age                      1782517 non-null  float64
 6   signup_method            1782517 non-null  object
 7   signup_flow              1782517 non-null  int64
 8   language                 1782517 non-null  object
 9   affiliate_channel        1782517 non-null  object
 10  affiliate_provider       1782517 non-null  object
 11  first_affiliate_tracked  1782517 non-null  object
 12  signup_app               1782517 non-null  object
 13  first_device_type        1782517 non-null  object
 14  first_browser            1782517 non-null  object
 15  country_destination      1782517 non-null  object
 16  user_id                  1782517 non-null  object
 17  action                   1782517 non-null  object
 18  action_type              1782517 non-null  object
 19  action_detail            1782517 non-null  object
 20  device_type              1782517 non-null  object
 21  secs_elapsed             1782517 non-null  float64
dtypes: float64(2), int64(2), object(18)
memory usage: 312.8+ MB

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,...,signup_app,first_device_type,first_browser,country_destination,user_id,action,action_type,action_detail,device_type,secs_elapsed
1,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
3,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
5,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
7,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0

In [13]:
clean_unknown = with_drop.replace(['-unknown-'], np.nan)
clean_unknown.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1782517 entries, 1 to 5537474
Data columns (total 22 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1782517 non-null  object
 1   date_account_created     1782517 non-null  object
 2   timestamp_first_active   1782517 non-null  int64
 3   date_first_booking       1782517 non-null  object
 4   gender                   1427886 non-null  object
 5   age                      1782517 non-null  float64
 6   signup_method            1782517 non-null  object
 7   signup_flow              1782517 non-null  int64
 8   language                 1782517 non-null  object
 9   affiliate_channel        1782517 non-null  object
 10  affiliate_provider       1782517 non-null  object
 11  first_affiliate_tracked  1782517 non-null  object
 12  signup_app               1782517 non-null  object
 13  first_device_type        1782517 non-null  object
 14  first_browser            1502954 non-null  object
 15  country_destination      1782517 non-null  object
 16  user_id                  1782517 non-null  object
 17  action                   1782517 non-null  object
 18  action_type              1548292 non-null  object
 19  action_detail            1548292 non-null  object
 20  device_type              1755573 non-null  object
 21  secs_elapsed             1782517 non-null  float64
dtypes: float64(2), int64(2), object(18)
memory usage: 312.8+ MB

In [14]:
unknown_dropped_df = clean_unknown.dropna()
unknown_dropped_df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1044739 entries, 1 to 5537474
Data columns (total 22 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   id                       1044739 non-null  object
 1   date_account_created     1044739 non-null  object
 2   timestamp_first_active   1044739 non-null  int64
 3   date_first_booking       1044739 non-null  object
 4   gender                   1044739 non-null  object
 5   age                      1044739 non-null  float64
 6   signup_method            1044739 non-null  object
 7   signup_flow              1044739 non-null  int64
 8   language                 1044739 non-null  object
 9   affiliate_channel        1044739 non-null  object
 10  affiliate_provider       1044739 non-null  object
 11  first_affiliate_tracked  1044739 non-null  object
 12  signup_app               1044739 non-null  object
 13  first_device_type        1044739 non-null  object
 14  first_browser            1044739 non-null  object
 15  country_destination      1044739 non-null  object
 16  user_id                  1044739 non-null  object
 17  action                   1044739 non-null  object
 18  action_type              1044739 non-null  object
 19  action_detail            1044739 non-null  object
 20  device_type              1044739 non-null  object
 21  secs_elapsed             1044739 non-null  float64
dtypes: float64(2), int64(2), object(18)
memory usage: 183.3+ MB

In [15]:
# unknown_dropped_df.sample(5)
unknown_dropped_df.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,...,signup_app,first_device_type,first_browser,country_destination,user_id,action,action_type,action_detail,device_type,secs_elapsed
1,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
3,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
5,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
7,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,2014-01-01,20140101000936,2014-01-04,MALE,62.0,basic,0,en,sem-non-brand,...,Web,Windows Desktop,Chrome,other,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0

In [19]:
for col in unknown_dropped_df:
    print(col)
    print(unknown_dropped_df[col].unique())

id
['d1mm9tcy42' 'xwxei6hdk4' 'awiurksqr3' ... 'omlc9iku7t' '0k26r3mir0'
 'qbxza0xojf']
date_account_created
['2014-01-01' '2014-01-02' '2014-01-03' '2014-01-04' '2014-01-05'
 '2014-01-06' '2014-01-07' '2014-01-08' '2014-01-09' '2014-01-10'
 '2014-01-11' '2014-01-12' '2014-01-13' '2014-01-14' '2014-01-15'
 '2014-01-16' '2014-01-17' '2014-01-18' '2014-01-19' '2014-01-20'
 '2014-01-21' '2014-01-22' '2014-01-23' '2014-01-24' '2014-01-25'
 '2014-01-26' '2014-01-27' '2014-01-28' '2014-01-29' '2014-01-30'
 '2014-01-31' '2014-02-01' '2014-02-02' '2014-02-03' '2014-02-04'
 '2014-02-05' '2014-02-06' '2014-02-07' '2014-02-08' '2014-02-09'
 '2014-02-10' '2014-02-11' '2014-02-12' '2014-02-13' '2014-02-14'
 '2014-02-15' '2014-02-16' '2014-02-17' '2014-02-18' '2014-02-19'
 '2014-02-20' '2014-02-21' '2014-02-22' '2014-02-23' '2014-02-24'
 '2014-02-25' '2014-02-26' '2014-02-27' '2014-02-28' '2014-03-01'
 '2014-03-02' '2014-03-03' '2014-03-04' '2014-03-05' '2014-03-06'
 '2014-03-07' '2014-03-08' '2014-03-09' '2014-03-10' '2014-03-11'
 '2014-03-12' '2014-03-13' '2014-03-14' '2014-03-15' '2014-03-16'
 '2014-03-17' '2014-03-18' '2014-03-19' '2014-03-20' '2014-03-21'
 '2014-03-22' '2014-03-23' '2014-03-24' '2014-03-25' '2014-03-26'
 '2014-03-27' '2014-03-28' '2014-03-29' '2014-03-30' '2014-03-31'
 '2014-04-01' '2014-04-02' '2014-04-03' '2014-04-04' '2014-04-05'
 '2014-04-06' '2014-04-07' '2014-04-08' '2014-04-09' '2014-04-10'
 '2014-04-11' '2014-04-12' '2014-04-13' '2014-04-14' '2014-04-15'
 '2014-04-16' '2014-04-17' '2014-04-18' '2014-04-19' '2014-04-20'
 '2014-04-21' '2014-04-22' '2014-04-23' '2014-04-24' '2014-04-25'
 '2014-04-26' '2014-04-27' '2014-04-28' '2014-04-29' '2014-04-30'
 '2014-05-01' '2014-05-02' '2014-05-03' '2014-05-04' '2014-05-05'
 '2014-05-06' '2014-05-07' '2014-05-08' '2014-05-09' '2014-05-10'
 '2014-05-11' '2014-05-12' '2014-05-13' '2014-05-14' '2014-05-15'
 '2014-05-16' '2014-05-17' '2014-05-18' '2014-05-19' '2014-05-20'
 '2014-05-21' '2014-05-22' '2014-05-23' '2014-05-24' '2014-05-25'
 '2014-05-26' '2014-05-27' '2014-05-28' '2014-05-29' '2014-05-30'
 '2014-05-31' '2014-06-01' '2014-06-02' '2014-06-03' '2014-06-04'
 '2014-06-05' '2014-06-06' '2014-06-07' '2014-06-08' '2014-06-09'
 '2014-06-10' '2014-06-11' '2014-06-12' '2014-06-13' '2014-06-14'
 '2014-06-15' '2014-06-16' '2014-06-17' '2014-06-18' '2014-06-19'
 '2014-06-20' '2014-06-21' '2014-06-22' '2014-06-23' '2014-06-24'
 '2014-06-25' '2014-06-26' '2014-06-27' '2014-06-28' '2014-06-29'
 '2014-06-30']
timestamp_first_active
[20140101000936 20140101002742 20140101010113 ... 20140630235151
 20140630235340 20140630235547]
date_first_booking
['2014-01-04' '2014-01-07' '2014-01-02' '2014-04-19' '2014-02-26'
 '2014-01-01' '2014-05-27' '2014-08-27' '2014-07-28' '2014-03-24'
 '2014-03-25' '2014-01-06' '2014-01-09' '2014-05-08' '2014-01-21'
 '2014-02-28' '2014-01-10' '2014-01-13' '2014-01-15' '2014-01-05'
 '2014-05-19' '2014-03-11' '2014-01-03' '2014-02-11' '2014-02-04'
 '2014-09-02' '2014-01-08' '2014-01-14' '2014-07-12' '2014-02-05'
 '2014-02-06' '2014-01-16' '2014-01-19' '2014-03-31' '2014-02-12'
 '2014-09-14' '2014-04-15' '2014-11-09' '2014-11-25' '2014-08-01'
 '2014-03-14' '2014-08-26' '2014-04-17' '2014-02-24' '2014-01-24'
 '2014-05-12' '2014-01-12' '2014-06-13' '2014-05-05' '2014-01-20'
 '2014-03-20' '2014-05-11' '2014-10-15' '2014-02-10' '2014-07-01'
 '2014-06-27' '2014-10-29' '2014-02-19' '2014-09-16' '2014-03-12'
 '2014-11-21' '2014-10-08' '2014-01-18' '2014-01-11' '2014-03-06'
 '2014-02-27' '2014-03-07' '2014-09-28' '2014-08-18' '2014-11-15'
 '2014-02-18' '2014-10-01' '2014-12-15' '2014-10-22' '2014-04-02'
 '2014-01-17' '2014-05-02' '2014-04-16' '2014-03-02' '2014-07-24'
 '2014-09-17' '2014-02-07' '2014-11-26' '2014-02-02' '2014-09-09'
 '2014-09-10' '2014-01-29' '2014-07-30' '2014-03-30' '2014-06-01'
 '2014-09-22' '2014-12-02' '2014-10-10' '2014-12-21' '2014-07-06'
 '2014-01-28' '2014-08-11' '2014-11-28' '2014-08-06' '2014-07-15'
 '2014-07-10' '2014-08-23' '2014-01-27' '2014-05-14' '2014-02-14'
 '2014-07-20' '2014-03-29' '2014-03-08' '2014-09-01' '2014-01-25'
 '2014-12-23' '2014-03-19' '2014-01-23' '2014-03-27' '2014-05-03'
 '2014-04-30' '2014-04-27' '2014-10-28' '2014-02-17' '2014-06-19'
 '2014-11-11' '2014-04-03' '2014-03-03' '2015-01-08' '2014-09-26'
 '2014-01-22' '2014-04-22' '2014-04-11' '2014-08-28' '2014-04-04'
 '2014-11-13' '2014-07-05' '2014-10-13' '2014-05-16' '2014-09-15'
 '2014-07-19' '2014-05-20' '2014-09-23' '2014-08-15' '2014-08-12'
 '2014-06-24' '2014-02-25' '2014-03-18' '2014-02-03' '2014-10-02'
 '2014-12-20' '2014-04-12' '2014-01-26' '2014-03-26' '2014-12-18'
 '2014-02-01' '2014-05-13' '2014-09-19' '2014-05-17' '2014-05-26'
 '2014-04-23' '2014-07-16' '2014-10-09' '2014-12-04' '2014-04-24'
 '2014-04-09' '2014-10-23' '2014-04-08' '2014-04-28' '2014-11-07'
 '2014-05-28' '2014-02-21' '2014-07-03' '2014-02-15' '2014-03-17'
 '2014-01-30' '2014-04-26' '2014-03-10' '2014-10-07' '2014-02-20'
 '2014-04-06' '2014-05-24' '2014-12-01' '2014-07-08' '2014-06-12'
 '2014-05-30' '2014-11-03' '2014-11-27' '2014-10-31' '2014-04-29'
 '2014-08-08' '2014-08-02' '2014-12-03' '2014-06-23' '2014-01-31'
 '2014-02-16' '2014-02-23' '2014-08-31' '2014-12-05' '2014-04-05'
 '2014-08-05' '2014-05-06' '2014-12-10' '2014-05-21' '2014-11-10'
 '2014-06-28' '2014-06-26' '2014-08-10' '2014-10-17' '2014-05-29'
 '2014-07-18' '2014-07-14' '2014-02-08' '2015-01-10' '2014-04-18'
 '2014-04-20' '2014-11-04' '2014-03-21' '2014-10-06' '2014-03-23'
 '2014-06-11' '2014-07-09' '2015-01-05' '2014-09-04' '2015-01-14'
 '2014-02-13' '2014-03-22' '2014-07-31' '2014-06-16' '2014-10-20'
 '2014-06-20' '2014-08-29' '2014-08-22' '2014-09-25' '2014-10-03'
 '2014-07-02' '2014-04-07' '2014-11-01' '2014-07-11' '2014-09-24'
 '2014-06-04' '2014-08-09' '2014-09-30' '2014-07-22' '2014-03-13'
 '2014-12-11' '2014-03-28' '2014-10-19' '2014-09-08' '2014-08-24'
 '2014-06-25' '2014-02-22' '2014-05-09' '2015-01-18' '2014-07-27'
 '2014-06-21' '2014-06-06' '2014-12-22' '2014-11-30' '2014-08-21'
 '2014-03-16' '2014-03-15' '2014-05-25' '2014-05-15' '2014-11-24'
 '2014-12-14' '2014-05-23' '2014-04-21' '2015-01-17' '2014-08-20'
 '2014-09-29' '2014-06-29' '2014-10-30' '2014-09-12' '2014-11-02'
 '2014-09-20' '2014-03-09' '2014-08-30' '2014-02-09' '2014-05-07'
 '2014-12-17' '2014-05-10' '2014-04-10' '2014-12-27' '2014-08-13'
 '2015-01-16' '2015-01-06' '2014-11-08' '2014-11-05' '2014-08-14'
 '2014-09-27' '2014-10-11' '2014-04-14' '2014-12-19' '2014-09-13'
 '2014-04-01' '2014-10-04' '2014-08-25' '2014-08-03' '2014-03-04'
 '2014-10-25' '2014-06-02' '2014-08-19' '2014-07-07' '2014-06-17'
 '2014-07-21' '2014-08-16' '2014-05-18' '2014-12-25' '2014-05-01'
 '2015-01-29' '2015-01-02' '2014-06-03' '2014-12-09' '2014-09-18'
 '2014-12-13' '2015-01-09' '2014-07-17' '2014-08-07' '2015-01-11'
 '2014-07-26' '2014-06-14' '2014-03-01' '2014-07-29' '2014-12-07'
 '2014-12-08' '2015-01-03' '2014-05-04' '2014-09-11' '2014-12-06'
 '2014-09-05' '2014-06-30' '2014-10-21' '2015-01-23' '2014-11-12'
 '2014-05-22' '2014-06-08' '2015-01-25' '2015-02-06' '2014-11-16'
 '2014-07-23' '2014-11-23' '2014-12-12' '2014-12-24' '2014-11-20'
 '2014-07-25' '2015-01-04' '2014-04-13' '2015-02-04' '2014-09-03'
 '2014-11-06' '2014-03-05' '2014-06-22' '2014-11-18' '2015-01-19'
 '2014-06-15' '2014-06-10' '2014-11-19' '2015-01-24' '2014-06-07'
 '2015-02-02' '2015-02-08' '2015-02-12' '2014-09-07' '2014-10-16'
 '2014-06-18' '2014-08-17' '2015-01-07' '2015-01-15' '2014-06-09'
 '2014-12-26' '2015-02-14' '2014-07-04' '2014-12-28' '2015-01-31'
 '2015-01-20' '2015-01-01' '2014-12-30' '2014-09-06' '2014-04-25'
 '2014-12-31' '2015-02-18' '2014-07-13' '2015-02-09' '2014-06-05'
 '2015-02-07' '2015-02-03' '2014-11-22' '2014-10-14' '2015-01-27'
 '2015-01-21' '2014-09-21' '2015-02-17' '2014-10-05' '2014-10-27'
 '2015-02-21' '2014-12-29' '2014-11-14' '2015-02-24' '2015-01-12'
 '2014-11-17' '2015-02-13' '2015-02-19' '2015-02-10' '2015-02-11'
 '2015-03-02' '2015-03-01' '2015-02-25' '2015-02-23' '2015-01-28'
 '2015-01-30' '2014-10-12' '2015-03-09' '2015-02-22' '2014-10-26'
 '2015-03-14' '2015-03-05' '2015-03-13' '2014-05-31' '2015-03-07'
 '2015-01-22' '2015-03-03' '2014-08-04' '2015-02-05' '2014-12-16'
 '2015-03-12' '2015-01-13' '2015-03-20' '2015-02-27' '2014-10-24'
 '2015-03-08' '2015-03-17' '2015-03-18' '2015-02-26' '2015-03-24'
 '2015-03-16' '2015-03-19' '2015-03-06' '2015-03-11' '2015-02-20'
 '2015-03-28' '2015-03-21' '2015-04-06' '2015-03-31' '2015-03-04'
 '2015-04-09' '2015-03-29' '2015-04-03' '2014-10-18' '2015-03-15'
 '2015-03-10' '2015-03-23' '2015-04-11' '2015-02-01' '2015-04-16'
 '2015-03-25' '2015-04-14' '2015-02-16' '2015-04-20' '2015-02-28'
 '2015-04-22' '2015-04-10' '2015-04-13' '2015-04-17' '2015-04-05'
 '2015-04-07' '2015-04-12' '2015-04-23' '2015-04-08' '2015-04-19'
 '2015-03-30' '2015-03-27' '2015-04-29' '2015-04-21' '2015-01-26'
 '2015-04-18' '2015-05-01' '2015-05-03' '2015-05-09' '2015-04-15'
 '2015-04-04' '2015-05-06' '2015-05-08' '2015-04-24' '2015-05-10'
 '2015-05-02' '2015-04-02' '2015-05-14' '2015-05-16' '2015-05-13'
 '2015-02-15' '2015-05-15' '2015-05-11' '2015-04-28' '2015-05-17'
 '2015-04-25' '2015-05-04' '2015-05-20' '2014-11-29' '2015-04-27'
 '2015-05-12' '2015-05-07' '2015-05-19' '2015-05-25' '2015-05-23'
 '2015-05-21' '2015-05-27' '2015-05-26' '2015-05-29' '2015-05-31'
 '2015-05-24' '2015-04-30' '2015-06-04' '2015-06-01' '2015-06-05'
 '2015-03-26' '2015-05-22' '2015-03-22' '2015-06-10' '2015-05-05'
 '2015-05-30' '2015-05-18' '2015-06-08' '2015-06-17' '2015-06-12'
 '2015-06-07' '2015-05-28' '2015-04-01' '2015-06-09' '2015-06-22'
 '2015-06-02' '2015-06-03' '2015-06-23' '2015-06-16' '2015-06-06'
 '2015-06-26' '2015-06-25' '2015-06-29' '2015-06-28']
gender

['MALE' 'FEMALE' 'OTHER']
age
[  62.   32.   27.   30.   40.   25.   35.   60.   42.   22.   34.   47.
   38.   54.   29.   37.   45.   31.   36.   39.   24.   26.   50.   33.
   59.   67.   58.   57.   68.   28.   73.   41.   66.  105.   63.   85.
   71.   23.   48.   61.   21.   49.   44.   19.   93.   55.   52.   53.
   56.   51.   70.   46.   72. 2014.   43.   20.   86.   69.   64.   18.
   15.   65.   75.   74.  110.   99.   77.  109.   78.  100.  101.  132.
  108.   81.   90.   76.   80.   91.   79. 2008. 1924.   83. 1931.   84.
   17.   16. 1938.   96. 1947.   95. 1926.   89.]
signup_method
['basic' 'facebook' 'google']
signup_flow
[ 0 24 12 25 23  8]
language
['en' 'zh' 'ko' 'sv' 'de' 'fr' 'es' 'da' 'cs' 'it' 'fi' 'ru' 'ja' 'nl'
 'pt' 'hu' 'pl' 'th' 'el' 'no' 'tr' 'is']
affiliate_channel
['sem-non-brand' 'seo' 'direct' 'sem-brand' 'remarketing' 'other' 'api'
 'content']
affiliate_provider
['google' 'direct' 'facebook-open-graph' 'other' 'facebook' 'bing'
 'padmapper' 'yahoo' 'naver' 'email-marketing' 'vast' 'gsp' 'baidu'
 'yandex' 'meetup']
first_affiliate_tracked
['omg' 'linked' 'untracked' 'tracked-other' 'product' 'marketing'
 'local ops']
signup_app
['Web' 'Moweb' 'iOS' 'Android']
first_device_type
['Windows Desktop' 'iPad' 'Mac Desktop' 'iPhone' 'Android Tablet'
 'Desktop (Other)' 'Android Phone' 'SmartPhone (Other)' 'Other/Unknown']
first_browser
['Chrome' 'Mobile Safari' 'Safari' 'IE' 'Firefox' 'Chromium'
 'Chrome Mobile' 'Android Browser' 'BlackBerry Browser' 'Apple Mail'
 'Opera' 'Opera Mini' 'Sogou Explorer' 'AOL Explorer' 'Silk' 'IceWeasel'
 'Mobile Firefox' 'Maxthon' 'CoolNovo' 'IE Mobile' 'TheWorld Browser']
country_destination
['other' 'US' 'FR' 'GB' 'IT' 'AU' 'CA' 'DE' 'ES' 'NL' 'PT']
user_id
['d1mm9tcy42' 'xwxei6hdk4' 'awiurksqr3' ... 'omlc9iku7t' '0k26r3mir0'
 'qbxza0xojf']
action
['search_results' 'personalize' 'index' 'similar_listings'
 'ajax_refresh_subtotal' 'show' 'header_userpic' 'ask_question'
 'dashboard' 'confirm_email' 'login' 'authenticate' '15'
 'ajax_lwlb_contact' 'ajax_check_dates' '12' 'travel_plans_current'
 'create' 'login_modal' 'toggle_archived_thread' 'requested' 'pending'
 'edit_verification' 'edit' 'connect' 'notifications' 'update' 'callback'
 'at_checkpoint' 'qt_reply_v2' 'qt2' 'show_personalize' 'itinerary'
 'receipt' 'privacy' 'references' 'request_new_confirm_email' 'qt_with'
 'my' 'cancellation_policies' 'manage_listing' 'set_user' 'set_password'
 'cancel' 'signup_login' 'delete' 'payout_preferences' 'ajax_get_results'
 'signup_modal' 'new' 'this_hosting_reviews' 'listing' '10' 'friends'
 'multi_message' 'change' 'apply_reservation' 'popular'
 'toggle_starred_thread' 'email_share' 'email_wishlist' '11'
 'ajax_price_and_availability' 'my_listings' 'travel_plans_previous'
 'transaction_history' 'airbnb_picks' 'guest_booked_elsewhere' 'guarantee'
 'update_cached' 'listings' 'social_connections' 'collections' 'search'
 'available' 'unavailabilities' 'reviews' 'host_summary' 'preapproval'
 'maybe_information' 'place_worth' 'ajax_worth' 'add_note' 'terms'
 'payment_instruments' 'remove_dashboard_alert' 'change_password'
 'forgot_password' 'ajax_google_translate_reviews' 'click' 'respond'
 'change_availability' 'ajax_special_offer_dates_available'
 'recommendations' 'approve' 'booking' 'spoken_languages' 'impressions'
 'message_to_host_focus' 'cancellation_policy_click'
 'message_to_host_change' 'read_policy_click' 'coupon_code_click'
 'coupon_field_focus' 'apply_coupon_error' 'apply_coupon_click'
 'p4_refund_policy_terms' 'phone_verification_success' 'p4_terms'
 'apply_coupon_click_success']
action_type
['click' 'data' 'view' 'submit' 'message_post' 'booking_request'
 'partner_callback' 'booking_response']
action_detail
['view_search_results' 'wishlist_content_update' 'similar_listings'
 'change_trip_characteristics' 'p3' 'header_userpic' 'contact_host'
 'dashboard' 'confirm_email_link' 'login_page' 'login' 'message_post'
 'change_contact_host_dates' 'your_trips' 'create_phone_numbers'
 'login_modal' 'message_thread' 'toggle_archived_thread' 'p1' 'p5'
 'pending' 'profile_verifications' 'edit_profile' 'oauth_login'
 'post_checkout_action' 'account_notification_settings'
 'update_user_profile' 'oauth_response' 'at_checkpoint' 'your_listings'
 'send_message' 'user_profile' 'user_profile_content_update'
 'guest_itinerary' 'guest_receipt' 'account_privacy_settings'
 'profile_references' 'request_new_confirm_email' 'lookup_message_thread'
 'user_wishlists' 'cancellation_policies' 'manage_listing'
 'create_listing' 'set_password' 'guest_cancellation' 'signup_login_page'
 'delete_phone_numbers' 'user_tax_forms' 'account_payout_preferences'
 'signup_modal' 'list_your_space' 'listing_reviews_page'
 'friends_wishlists' 'wishlist' 'change_or_alter' 'apply_coupon'
 'create_user' 'popular_wishlists' 'toggle_starred_thread'
 'email_wishlist' 'email_wishlist_button' 'alteration_field'
 'your_reservations' 'previous_trips' 'account_transaction_history'
 'airbnb_picks_wishlists' 'update_listing' 'update_listing_description'
 'host_guarantee' 'update_user' 'admin_templates' 'user_listings'
 'notifications' 'user_social_connections' 'trip_availability'
 'unavailable_dates' 'listing_reviews' 'host_home' 'reservations'
 'user_reviews' 'message_inbox' 'place_worth' 'calculate_worth'
 'wishlist_note' 'terms_and_privacy' 'payment_instruments'
 'remove_dashboard_alert' 'confirm_email' 'create_alteration_request'
 'set_password_page' 'change_password' 'forgot_password' 'delete_listing'
 'alteration_request' 'translate_listing_reviews' 'instant_book' 'book_it'
 'respond_to_alteration_request' 'change_availability' 'request_to_book'
 'complete_booking' 'special_offer_field' 'user_friend_recommendations'
 'view_listing' 'listing_recommendations' 'listing_descriptions'
 'homepage' 'host_respond' 'booking' 'user_languages' 'p4'
 'message_to_host_focus' 'cancellation_policy_click'
 'message_to_host_change' 'read_policy_click' 'coupon_code_click'
 'coupon_field_focus' 'apply_coupon_error' 'apply_coupon_click'
 'p4_refund_policy_terms' 'phone_verification_success' 'p4_terms' 'signup'
 'apply_coupon_click_success']
device_type
['Windows Desktop' 'iPhone' 'iPad Tablet' 'Mac Desktop'
 'Android App Unknown Phone/Tablet' 'Android Phone' 'Tablet'
 'Linux Desktop' 'Chromebook' 'Blackberry' 'Windows Phone' 'Opera Phone'
 'iPodtouch']
secs_elapsed
[ 67753.  22141.   7703. ... 148665.  67685. 443844.]

In [21]:
unknown_dropped_df.to_csv('CleanData.csv')